{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-personal-info section-column info-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-heading uppercase">
                        Company Info
                    </h3>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Name:
                    </p>
                </div>
                <div class="value">
                    <p>
                        LawForYou
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Address:
                    </p>
                </div>
                <div class="value">
                    <p>
                        Funasgatan 8, Sweden, Stockholm
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Phone:
                    </p>
                </div>
                <div class="value">
                    <p>
                        + 46 (0) 21 9951 234
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Email:
                    </p>
                </div>
                <div class="value">
                    <p>
                        lawforyou36@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="about-heading uppercase">About Us</h3>
                </div>
            </div>
            <div class="row full-post-text">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Who are we?</h4>
                            <p>
                                Our team of qualified lawyers was formed in 2024 in Stockholm under the idea of ​​giving everyone the opportunity to receive legal services online
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="fa-solid fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">What we do?</h4>
                            <p>
                                We specialize in civil law, offering online legal assistance that will ensure your rights are protected quickly and reliably</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="fa-regular fa-lightbulb" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Any ideas?</h4>
                            <p>
                                If you want to help our project to develop you can send ideas about it to lawforyou36@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- index.html content ends here -->


{% endblock %}