{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Header -->
<header class="masthead-home lawforyou-bg">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 animate__animated animate__bounce text-white welcome-bg">
                <h1 class="welcome-txt">Welcome</h1>
                <h2 class="lawforyou-txt">Find your help here</h2>

                <div class="go-posts">
                    <a href="{% url 'appointment' %}" class="btn-posts">Book an appointment</a>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- index.html content starts here -->
<div class="container-fluid">
    <br>
    <p class="front-page-text">Our legal services are services provided on a professional basis by qualified lawyers who
        have an attorney's license to protect the rights, freedoms and interests of citizens and organizations.

        Our law firm strives to provide the highest standards of quality in the provision of legal services. The main
        mission of our law firm is to take business to a new level, providing reliable legal protection from all
        possible risks.

        Our law firm is not afraid to take responsibility when providing legal services. All financial guarantees are
        fixed in the contract. Therefore, when cooperating with us, you and your business are 100% protected.

        We value skill and professionalism. We can rightfully be proud of our ability to negotiate. Perhaps we can
        resolve the dispute without going to court. In any case, we always offer clients the most effective way to
        resolve a legal dispute.
    </p>

     <!-- Featured -->
    <div class="card-header text-center border border-secondary">Featured</div>

    <br>

      <div class="row text-center">
        {% for product in product_list|slice:":4" %}
        <div class="col-lg-3 col-md-6 mt-2">
          <div class="card h-100 card-lawforyou border border-secondary">
            <div class="card-img">
              <img src="{{ product.image.url }}" alt="" class="img-fluid img-featured">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.summary }}</p>
                <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                <a href="{% url 'product_detail' product.url %}" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
        <!-- End Card Item -->
        {% endfor %}
        
    
      </div>

      <br>

      <div class="card-footer text-muted text-center border border-secondary">Only qualified assistance!</div>

      <br>

</div>

<!-- index.html content ends here -->
{% endblock %}