{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Header -->
<header class="masthead-home lawforyou-bg">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 animate__animated animate__bounce text-white welcome-bg">
        <h1 class="welcome-txt">Welcome</h1>
        <h2 class="lawforyou-txt">Get your lawhelp here</h2>

        <div class="go-posts">
          <a href="{% url 'appointment' %}" class="btn-posts">Book an appointment</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- index.html content starts here -->
<section class="container-fluid">
  <br>
  <!-- Featured -->
  <div class="card-header text-center uppercase border"> <strong class="text-white text-uppercase"> Featured</strong>
  </div>

  <br>
  <div class="row text-center">
    {% for product in product_list|slice:":4" %}
    <div class="col-lg-3 col-md-6 mt-2">
      <div class="card w-100 h-100 card-lawforyou-featured border border-secondary">
        <div class="card-img">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid img-featured">
          {% else%}
          <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}" class="img-fluid img-featured">
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text"> <em> {{ product.summary }}</em></p>
          <hr>
          <div class="highlight float-left">
            #1 Best Seller
          </div>
          <a href="{% url 'product_detail' product.url %}" class="btn btn-primary float-right"> <i
              class="fa-sharp fa-solid fa-bag-shopping"></i> Buy</a>
        </div>
      </div>
    </div>
    <!-- End Card Item -->
    {% endfor %}
  </div>
  <br>
</section>

<!-- index.html content ends here -->
{% endblock %}