/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Jersey+10&display=swap');

/* General styles */
body {
    background-color: #F9FAFC;
}

footer {
    background-color: black;
}

.front-page-text {
    font-family: 'Exo', sans-serif;
}

.bi-star-fill {
    color: rgb(255, 182, 24);
}

.lawforyou-bg {
    background: url("https://res.cloudinary.com/dfy0one9z/image/upload/v1726171187/background-image_k6w3sp.webp") no-repeat center /cover;
    position: relative;
}

.lawforyou-bg:before {
    content: "";
    background: rgb(19 19 19 / 33%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.highlight {
	display: inline-block;
	color: #fff;
	line-height: 2em;
	padding: 2px 10px 2px 15px;
	border-radius: 4px;
    background: red;
    font-size: 13px;
}

.card-header {
    background-color: #3e94e4;
}

.stars i {
    color: #ffc107;
}

.btn-posts {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    margin-left: -15px;
    transition: 0.3s;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

}

.btn-posts:hover {
    background: white;
    color: black;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.welcome-bg {
    position: relative;
    margin-inline: auto;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    font-weight: 700;

}

.card {
    border: none;
    background-color: transparent;
}

.card-text {
    font-family: 'Exo', sans-serif;
}

.full-post-text {
    font-family: 'Exo', sans-serif;
}

.card-lawforyou {
    background-color: #f0f0f0;
    border:1px solid black;
    border-radius: 5%;
}

.card-lawforyou:hover{
    background-color: #d1d1d1;
}

.card-lawforyou-featured {
    background-color: #e7e7e7;
    border:1px solid black;
}

.card-lawforyou-featured:hover{
    background-color: #d1d1d1;
}

.img-featured {
    width: 40vh;
    height: 30vh;
    margin-top: 40px;
}


.text-lawforyou-bg {
    font-family: 'Exo', sans-serif;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.card-img-top {
    border-radius: 5%;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #999;
    text-decoration: none;
}

.bg-press-lawforyou {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1764e0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    top: -7px;
}

.bg-press-lawforyou:hover {
    background-color: #245dba
}

.bg-press-lawforyou:active {
    background-color: #245dba;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* Full post page */
.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.btn-edit {
    background-color: #2499f3;
    color: #fff;
}


.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.text-black {
    color: #000 !important;
}

.sign-out,
.sign-up-fix {
    margin-bottom: 125px;
}

/* Button link navbar */

.nav>li {
    margin-left: 1px;
    margin-right: 1px;
}

.nav-link {
    color: white
}

.nav-link:hover {
    color: gold;
}

.nav-link.active {
    color: #010101
}

.navbar-link-lawforyou {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #42a9d8;
    border: none;
    border-radius: 5px;
}

.navbar-link-lawforyou:hover {
    background-color: #3eade5;
}

.navbar-link-lawforyou:active {
    background-color: #3eade5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dropdown-menu {
    background-color: #f2f2f2f0;
}

/* Appointment */

.card-appointment {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

.input-appoint,
textarea,
.btn-appoint {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

.input-appoint:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.hide-appoint {
    display: none;
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
}

.btn-block:hover {
    color: #fff !important
}

.btn-appoint:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.btn-send {
    width: 33%;
}

/* Manage appointment */

.badge {
    position: relative;
    top: -43px;
    left: 72px;
    font-size: 8px;
    border-radius: 45%;
}

.card-margin {
    margin-bottom: 1.875rem;
}

.card-manage {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card-manage {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card-manage .card-header.no-border {
    border: 0;
}

.card-manage .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
    display: flex;
    align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #edf1fc;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
    color: #4e73e5;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
    color: #4e73e5;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
    color: #3c4142;
    font-size: 14px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
    color: #B1BAC5;
    font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
    font-weight: 400;
    font-size: 13px;
    margin-top: .5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
    display: list-item;
    color: #727686;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
    margin-left: .5rem;
}

.widget-49 .widget-49-meeting-action {
    text-align: right;
}

.widget-49 .widget-49-meeting-action a {
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center
}

.page-link {
    position: relative;
    display: block;
    color: #D85600 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #D85600 !important
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #D85600;
    border-color: #024dbc
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none
}

/* Footer*/


/* MailChimp */

#mc_embed_signup {
    background: #343a40;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

/* Bag */
.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Bootstrap toasts */
.message-container {
    position: absolute;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* From CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Review Rating */

#div_id_rating {
    display: none;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #fdbd33;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.rating-submit {
    border-radius: 8px;
    color: #fff;
    height: auto
}

.rating-submit:hover {
    color: #fff
}


.rating-star {
    color: #fdbd33;
}

/* About page */
.about-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.bg-color-personal-info {
    background-color: #404040;
}

.section-column {
    padding: 0 43px 43px;
    float: none;
    display: table-cell;
}

.info-column {
    color: #fafafa;
}


.error-image {
    width: 100%;
}

/* Small devices (phones, 300px and up) */
@media only screen and (min-width: 300px) {

    .logo-lawforyou {
        width: 180px;
    }
}

/* Small devices (phones, 335px and up) */
@media only screen and (min-width: 335px) {

    .navbar-link-lawforyou {

        font-size: 12.3px;
    }

    .nav-account-bag {
        margin: 0 auto;
    }

    .logo-lawforyou {
        width: 200px;
    }

    .badge {

        left: 66px;
        font-size: 7px;
        border-radius: 48%;
    }


    .masthead {
        height: 200px;
    }

    .masthead-home {
        height: 25vh;
        width: 100%;
    }

    .text-lawforyou-bg {
        font-size: 5px;
    }

    .welcome-bg {
        top: 20px;
    }

    .welcome-txt {
        padding-right: 6px;
    }

    .copyright {
        text-align: center;
    }

    .manage-appoint-display {
        margin-bottom: 400px;
    }

    .delete-appoint-display {
        margin-bottom: 30px;
    }
}

/* Small devices (phones, 335px and up) */
@media only screen and (min-width: 335px) and (max-width: 400px) {

    .refferal_badge {
    margin-left: 140px;
    margin-top: -55px;
}

}

/* Small devices (phones, 510px and up) */
@media only screen and (min-width: 510px) {
    .nav-account-bag {
        margin-left: 250px;
        position: absolute;
        font-size: 14px;
        top: 20px;
    }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .navbar-link-lawforyou {
        font-size: 14px;
    }

    .nav-account-bag {
        margin-left: 370px;
        position: absolute;
    }

    .logo-lawforyou {
        width: 300px;
    }

    .badge {

        left: 72px;
        font-size: 8px;
        border-radius: 48%;
    }

    .masthead-home {
        height: 33vh;
        width: 100%;
    }

    .text-lawforyou-bg {
        font-size: 10px;
    }

    .welcome-bg {
        top: 100px;
    }

    .add-post-form-view {
        width: 50%;
        position: relative;
        left: 175px;
    }

    .edit-delete {
        margin-top: 12px;
    }

    .btn-send {
        width: 150%;
    }

    .message-container {
        top: 82px;
    }

    .footer {
        height: 600px;
    }

    .sign-out {
        margin-bottom: 525px;
    }

    .section-column {
        padding-bottom: 230px;
    }

    .delete-appoint-display {
        margin-bottom: 200px;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .nav-account-bag {
        display: contents;
    }

    .masthead-home {
        height: 53vh;
    }

    .add-post-form-view {
        width: 50%;
        position: relative;
        left: 220px;
    }

    .profile-fix {
        margin-bottom: 100px;
    }

    .delete-appoint-display {
        margin-bottom: 600px;
    }


}

/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {

    .nav-account-bag {
        display: contents;
    }

    .navbar-link-lawforyou {
        margin-top: 20px;
        
    }

    .copyright {
        padding-top: 340px;
    }

    .masthead-home {
        margin-top: 0px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        height: 73vh;
        width: 100%;
    }

    .message-container {
        right: 42px;

    }

    .lawforyou-bg {
        background-size: cover;
        
    }

    .text-lawforyou-bg {
        font-size: 30px;
    }

    .welcome-bg {
        top: 260px;
    }

    .add-post-form-view {
        width: 50%;
        position: relative;
        left: 230px;
    }

    .edit-delete {
        margin-bottom: 1px;
    }

    .footer {
        height: 800px;
    }

    .sign-out {
        margin-bottom: 325px;
    }

    .manage-appoint-display {
        margin-bottom: 780px;
    }

}

/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    .go-posts {
        margin-left: -15px;
    }

    .navbar-link-lawforyou {
        font-size: 15px;
    }

    .badge {
        left: 75px;
    }

    .message-container {
        top: 120px;

    }

    .masthead {
        height: 230px;
    }

    .masthead-home {
        height: 60vh;
    }

    .welcome-txt {
        padding-right: 26px;
    }

    .lawforyou-txt {
        padding-right: 26px;
    }

    .p-text-history {
        font-size: 1rem;
    }

    .add-post-form-view {
        width: 50%;
        position: relative;
        left: 320px;
    }

    .section-column {
        padding-bottom: 10px;
    }

    .footer {
        height: auto;
    }

    .edit-delete {
        bottom: 34px;
        position: relative;
    }

    .sign-out {
        margin-bottom: 125px;
    }

    .manage-appoint-display {
        margin-bottom: 400px;
    }

    .delete-appoint-display {
        margin-bottom: 40px;
    }

}