{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row full-post-text">
            <div class="col-md-10 mt-2 mx-auto text-center">
                <div class="error-page">
                    <h1 class="error-heading">404</h1>
                    <p>We couldn't find what you were looking for. Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist.
                      Please, go back to</p>
                      <a class="btn btn-outline-black text-uppercase rounded-0" href="{% url 'home' %}">homepage</a>
                  </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}