{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row full-post-text">
            <div class="col-md-10 mt-2 mx-auto text-center">
                <div class="darkg-bg">
                    <h1>Error 500</h1>
                    <p>Unexpected error. Please, go back to <a class="btn btn-outline-black text-uppercase rounded-0" href="{% url 'home' %}">homepage</a>
                    </p>
                <div class="error-image-500">
                    <img src="https://res.cloudinary.com/dfy0one9z/image/upload/v1726037907/law-attention-image_bz4imr.png" alt="error-image-500" class="error-image">
                </div> 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}