/* Start screen */
#start-button {
	font-size: 30px;
	border-radius: 0.2em;
	padding: 0.5em 1.8em;
	background-color: gold;
	cursor: pointer;
	margin-left: 65px;
	color: black;
	margin-bottom: 100px;
}

.forecast-header {
	font-size: 1.3rem;
	color: black;
	margin-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.hide {
	display: none;
}


/* Result */
#result {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	font-family: "Paytone One", sans-serif;
}

#good-answer {
	color: green;
	font-weight: bold;
}

#bad-answer {
	color: red;
	font-weight: bold;
}

/* Top Scoreboard */

#top-scoreboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	font-family: "Paytone One", sans-serif;
}

#forecast-case {
	display: flex;
	font-size: 12px;
	margin-right: -1rem;
	font-family: "Paytone One", sans-serif;

}

#questions-total {
	font-family: "Barlow Condensed", sans-serif;

}

.questions-hidden {
	visibility: hidden;
}

/* Forecast Area */
.forecast {
	position: relative;
	padding: 1rem 1rem calc(1rem + 70px);
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	max-width: 95vw;
	overflow: hidden;

}

.title {
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
	margin: 0;
}

.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}

.forecast-options {
	list-style-type: none;
	padding: 0;
}

.forecast-options li {
	font-size: 1.2rem;
}

.forecast-options label {
	cursor: pointer;
	width: 100%;
	display: block;
	padding: 1rem 0.5rem;
}

.forecast-options label.disabled {
	cursor: no-drop;
}

.forecast-options label.disabled:hover {
	cursor: no-drop;
	background-color: transparent;
}

.forecast-options input[type="radio"] {
	margin-right: 10px;
}

/* Submit button */
.forecast-submit {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	line-height: 70px;
}

.submit {
	background-color: #8e44ad;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;

}

.submit:hover {
	background-color: #732d91;
}

.success-image {
	height: 20%;
	width: 50%;
	margin-bottom: 10px;
}


#forecast-main-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin: 40px 5vw;

}


/* Small devices (phones, 335px and up) */
@media only screen and (min-width: 335px) {

	.forecast {
		margin-bottom: 50px;

	}

}

/* Small devices (phones, 510px and up) */
@media only screen and (min-width: 510px) and (max-width: 767px) {

	#start-button {

		margin-left: -40px;

	}

	.forecast-header {

		margin-left: -115px;
	}

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

	.forecast {

		width: 300px;

	}

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

	.success-image {
		margin-bottom: 100px;
	}
}


/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {

	.forecast {

		width: 400px;

	}

	.success-image {
		margin-bottom: 240px;
	}
}

/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	.success-image {
		margin-bottom: 10px;
	}


}