{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'forecast/css/forecast.css' %}">
{% endblock %}

{% block content %}

<!-- Forecast and Request Area -->
<section class="container-fluid">

	<div class="row" id="forecast-main-content">
		<div class="game">

			<div class="forecast hide" id="forecast">

				<!-- Scoreboard -->
				<div id="top-scoreboard">
					<div id="forecast-case">Forecast of the case</div>

					<!-- Question lenght -->
					<div id="questions-total">1 of 5 questions</div>

				</div>

				<!-- Forecast header -->
				<div class="forecast-header" id="header">

					<!-- Question title -->
					<h2 class="title">%title%</h2>

					<!-- Final message -->
					<h3 class="summary">%message%</h3>
				</div>

				<!-- Answer options -->
				<ul class="forecast-options" id="list">
					<li>
						<label>
							<input type="radio" class="answer" name="answer">
							<span>Answer...</span>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" class="answer" name="answer">
							<span>Answer...</span>
						</label>
					</li>
				</ul>

				<!-- Result -->
				<div id="result">
					<div id="good-answer"></div>
					<div id="bad-answer"></div>
				</div>

				<!-- Answer button -->
				<button class="forecast-submit submit" id="submit">Answer</button>

			</div>

		</div>
		<!-- Start for forecast -->
		<div id="start-display">
			<h1 class="forecast-header">Get your forecast about your case</h1>
			<br>
			<button id="start-button">Start</button>
		</div>

		<!-- Request for help -->
		<div class="col-md-6">
			<h2>Make a Request</h2>
			<p> <em>Get help from us if your forecast result is bad</em></p>
			<form action="{% url 'forecast' %}" method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-black mb-6">Send Request</button>
			</form>
		</div>
	</div>
</section>

{% block postloadjs %}
{{ block.super}}
<script src="{% static 'forecast/js/forecast.js' %}"></script>
{% endblock %}


{% endblock %}