{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body full-post-text">
        <div class="service-summary text-center">
          <h1 class="text-uppercase"> <strong>Our service </strong></h1>
          <br>
          <p>Choose any service you need, and our lawyers with many years of experience in the field of jurisprudence will
          help you solve your problems!</p>
          <div class="card-header text-center uppercase border"> <strong class="text-white text-uppercase"> We recommend</strong></div>
        </div>
        <hr>

        <div class="row">
          <!-- Product Entries Column -->
          <div id="posts" class="col-12 mt-3 left">
            <div class="row">
              {% for service in product_list %}
              <div class="col-md-4">
                <div class="card mb-4 text-center">
                  <div class="card-body w-100 h-100 card-lawforyou border">
                    <div class="image-container">
                      {% if service.image %}
                      <img class="card-img-top" src="{{ service.image.url }}" alt="{{ service.name }}">
                      {% else%}
                      <img class="card-img-top" src="{{ MEDIA_URL }}noimage.webp" alt="{{ service.name }}">
                      {% endif %}
                      <div class="image-flash">
                      </div>
                    </div>
                    <br>
                    <h2 class="card-title">{{ service.name }}</h2>
                    <hr>
                    <p class="card-text"> <em> {{ service.summary }} </em></p>
                    <p class="card-text"><strong> <u>Price: ${{ service.price }}</u> </strong></p>
                    <a href="{{ service.url }}" class="btn btn-primary">Buy</a>
                  </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">

              {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>

        {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
              <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      </div>
    </div>
  </div>
</div>

    {% endblock content %}
    {% block extras %}
    {% endblock %}